:root {
  font-family: "Figtree", serif;
  font-optical-sizing: auto;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d1a1a;
}

.white {
  color: #ffffff;
}
.yellow {
  font-weight: 900;
  color: #ffc533;
}
